<div class="background-image">
  <div class="container">
    {{#each poshPeople}}
    <div class="face-circle">
      <a href="/poshPeople/{{id}}"><img class="img-circle" src="{{image}}" alt="{{name}}"></a>
    </div>
    {{/each}}
  </div>
  <div class = "info">
  <p>Click your favourite Spice Gal to learn more about them!</p>
  </div>
</div>