<div class="portal-container">
  <div class="homepage-button">
  <img class="logo" src="{{rpo.button}}" alt="RPO logo">
</div>
<div class="login-form">
  <form action="/" method="post">
  <label for="username">Username:</label><br>
  <input type="text" name="username"><br>
  <label for="lname">Password:</label><br>
  <input type="password" name="password">
  <button>SUBMIT</button>
  {{#if rpo.failedLogin}}
  {{>failed-login}}
  {{/if}}
</form>
</div>
</div>
