.background-image {
  background-image: url('/images/union-jack.gif');
  background-repeat: no-repeat;
  background-size: cover;
  height: 100%;
}

.person {
  background-color: rgb(0, 5, 245);
  background: linear-gradient(
    0deg,
    rgba(0, 5, 245, 0.6587228641456583) 0%,
    rgba(110, 140, 255, 0.7427564775910365) 24%,
    rgba(90, 249, 255, 0.42622986694677867) 71%,
    rgba(255, 255, 255, 1) 100%
  );
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;
}

.container {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  justify-content: center;
  height: 400px;
  margin-top: 20px;
}

.text {
  background-color: rgb(128, 128, 128, 0.2);
}

.img-circle {
  border-radius: 50%;
  object-fit: cover;
  width: 230px;
  height: 245px;
  padding: 20px;
}

.information {
  margin: 10px;
}

.homebtn {
  position: absolute;
  color: black;
  left: 50px;
  top: 20px;
  font-size: 20px;
}

.info {
  text-align: center;
  font-size: x-large;
  position: relative;
  top: -35px;
}

/* --------- Below is new CSS for WeMatter Portal ------ */

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Belleza', sans-serif;
}

p {
  font-family: 'Source Sans Pro', sans-serif;
}

body {
  display: flex;
  align-items: center;
  justify-content: center;
  color: black;
  font-family: 'Helvetica', sans-serif;
}

form {
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 1rem;
  padding: 10px;
}

form button {
  background-color: #0c353d;
  color: white;
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 14px;
}

input {
  width: 100%;
  padding: 5px;
  margin: 10px;
}

.homepage-button {
  padding: 20px;
}

.portal-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.login-form {
  padding: 20px;
  display: flex;
  align-items: center;
}
